/* Center all items in body */
body, html {
    display: grid;
    height: 100%;
    grid-template: 1fr/100%;
    place-items: center;
}

/* Navbar */

.foodies {
    display: block;
    width: 100%;
    height: auto;
}

/* Kawaii egg image */
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
}
  
.egg {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Styles for search box */

.box {
    display: flex;
}

.searchBtn {
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    margin-left: 75px;
    border-radius: 25px;
}

label {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    display: block;
    color: black;
    margin-bottom: 12px;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    background-color: #ece8e5;
    padding: 16px 40px;
    border: none;
    display: block;
    font-weight: 600;
    color: black;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;
}

/* Information about the Foodies page */
p {
    text-align: center;
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
}

/* 3 boxes */
#boxes {
    width: 100%;
    height: 55vh;
    justify-content: center;
}

#card {
    width: 100%;
    height: 45vh;
    justify-content: center;
    display: flex;
}

#yelp-1 {
    width: 50%;
    height: 45vh;
    margin: 0px 15px;
    background-color: lightgray;
    border-radius: 25px;
}

#yelp-2 {
    width: 50%;
    height: 45vh;
    margin: 0px 15px;
    background-color: #ece8e5;
    border-radius: 25px;
}

/* GOOGLE MAP */
#map{
    width: 100%;
    height: 45vh;
    margin: 20px 6px;
    display: flex;
    border-radius: 25px;
}

.list-text {
    font-size: 18px;
    line-height: 32px;
}