/* Center all items in body */
body, html {
    display: grid;
    height: 100%;
    grid-template: 1fr/100%;
    place-items: center;
}

/* Navbar styles for buttons
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    padding-right: 50px;
    font-size: 150%;
    background-color: rgb(168, 160, 160);
    border-radius: 25px;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    position:relative;
    border-style: ridge;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    margin-inline:4px;
    
}

li a:hover {
    background-color: lightgray;
    color: white;
} */

/* Foodies GIF */

.foodies {
    display: block;
    width: 80%;
    height: auto;
}

/* Kawaii egg image */
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
}
  
.egg {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Styles for search box */

label {
    font-size: 30px;
}

.box {
    display: flex;
}

.searchBtn {
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    border-radius: 25px;
}

label {
    font-family: "Hind", sans-serif;
    display: block;
    color: black;
    margin-bottom: 12px;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    background-color: #e3edf7;
    padding: 16px 40px;
    border: none;
    display: block;
    font-weight: 600;
    color: black;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;
}

/* Information about the Foodies page */
p {
    text-align: center;
    font-size: 120%;
}

/* 3 boxes */
#boxes {
    width: 100%;
    height: 55vh;
    justify-content: center;
}

#card {
    width: 100%;
    height: 45vh;
    justify-content: center;
    display: flex;
}
#yelp {
    width: 50%;
    height: 45vh;
    margin: 0px 15px;
    background-color: lightgray;
    border-radius: 25px;
}

/* GOOGLE MAP */
#map{
    width: 100%;
    height: 45vh;
    margin: 20px 6px;
    display: flex;
    border-radius: 25px;
}